{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block special_styles %}{% endblock special_styles %}
    {% block special_scripts %}{% endblock special_scripts %}
</head>
<body>
    <div id="header">
        <h1>{% block page_heading %}{% endblock page_heading %}</h1>
        <h4>{% block page_description %}{% endblock page_description %}</h4>
        <hr>
    </div>
    {% block nav %}
    {% include 'nav.html' %}
    {% endblock nav %}
    
    <div id="content" class="center-div-contents flex-dir-row">{% comment %} Must have both classes {% endcomment %}
        {% block content %}{% endblock content %}
    </div>
</body>
</html>