{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
        html{
            box-sizing: border-box;
            height: 100%;
        }
        body{
            height: 100%;
            background-size: 100% 100%;
            {% comment %} border: 1px solid red; {% endcomment %}
            font-family: 'Univers','Muli','Lato','Open Sans', Arial, sans-serif;
        }
        #map { height: 100%; z-index: 1; }
    </style>
</head>
<body>
    <div id="map">
        
    </div>
    {% include 'nav.html' %}
    <script>
        markers = {{ markers|safe }};
        console.log(markers);
        var map = L.map( 'map', {
            center: [markers[0].lat, markers[0].lon],
            minZoom: 5,
            zoom: 6 //max is 18
        });
        L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            subdomains: ['a','b','c']
        }).addTo( map );

        L.Icon.Default.prototype.options.iconSize = [20, 24];
        L.Icon.Default.prototype.options.shadowSize = [0, 0];
        L.Icon.Default.prototype.options.iconAnchor = [9, 21];
        L.Icon.Default.prototype.options.popupAnchor = [0, -14];
        for ( var i=0; i < markers.length; ++i ) 
        {
        L.marker( [markers[i].lat, markers[i].lon] )
            .bindPopup( 
                `
                <div href="` + markers[i].url + ` style="width:50%;height:50%;">
                    <h3 style="text-align:center;">Profile</h3>
                    <table>
                        <tr>
                            <td>Username: </td>
                            <td>`+markers[i].username+`</td>
                        </tr>
                        <tr>
                            <td>First Name: </td>
                            <td>`+markers[i].first_name+`</td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td>`+markers[i].last_name+`</td>
                        </tr>
                        <tr>
                            <td>Phone Number: </td>
                            <td>`+markers[i].phone_number+`</td>
                        </tr>
                        <tr>
                            <td>Email Address: </td>
                            <td>`+markers[i].email+`</td>
                        </tr>
                        <tr>
                            <td>Home Address: </td>
                            <td>`+markers[i].home_address+`</td>
                        </tr>
                    </table>
                </div>
                `
            )
            .addTo( map );
        }
    </script>
</body>
</html>